@model GFT.Models.ContactUs

@{
    ViewData["Title"] = "Home Page";
}

	
	<!-- Main Slider Three -->
	<div class="main-slider-three">
	<div class="slider-three_icon-one" data-parallax='{"y" : -80}' style="background-image:url(../images/icons/service-22.png)"></div>
	<div class="slider-three_icon-two" data-parallax='{"y" : 80}' style="background-image:url(../images/icons/service-23.png)"></div>
		<div class="single-item-carousel owl-carousel owl-theme">
			
			<!-- Slide -->
			<div class="slide">
			<div class="slider-three_image-layer" style="background-image:url(../images/main-slider/3.jpg)"></div>
			<div class="slider-three_curve-layer" style="background-image:url(../images/main-slider/curve.png)"></div>
				<div class="auto-container">
					
					<!-- Content Column -->
					<div class="slider-three_content-box">
						<!-- About One Detail -->
						
						<h1 class="slider-three_title">Services with a <br>Global vision and a Local Touch</h1>
						<div class="slider-three_text">See, most new coaches get so busy marketing themselves.</div>
						<!-- Button Box -->
						<div class="slider-three_button-box text-center">
							<a class="btn-style-seven theme-btn" href="#">
								<div class="btn-wrap">
									<span class="text-one">get started</span>
									<span class="text-two">get started</span>
								</div>
							</a>
						</div>
					</div>
					
				</div>
			</div>
			
			<!-- Slide -->
			<div class="slide">
			<div class="slider-three_image-layer" style="background-image:url(../images/main-slider/3.jpg)"></div>
			<div class="slider-three_curve-layer" style="background-image:url(../images/main-slider/curve.png)"></div>
				<div class="auto-container">
					
					<!-- Content Column -->
					<div class="slider-three_content-box">
						<!-- About One Detail -->
						
						<h1 class="slider-three_title">Services with a <br>Global vision and a Local Touch</h1>
						<div class="slider-three_text">See, most new coaches get so busy marketing themselves.</div>
						<!-- Button Box -->
						<div class="slider-three_button-box text-center">
							<a class="btn-style-seven theme-btn" href="#">
								<div class="btn-wrap">
									<span class="text-one">get started</span>
									<span class="text-two">get started</span>
								</div>
							</a>
						</div>
					</div>
					
				</div>
			</div>
			
			<!-- Slide -->
			<div class="slide">
			<div class="slider-three_image-layer" style="background-image:url(../images/main-slider/3.jpg)"></div>
			<div class="slider-three_curve-layer" style="background-image:url(../images/main-slider/curve.png)"></div>
				<div class="auto-container">
					
					<!-- Content Column -->
					<div class="slider-three_content-box">
						<!-- About One Detail -->
						
						<h1 class="slider-three_title">Services with a <br>Global vision and a Local Touch</h1>
						<div class="slider-three_text">See, most new coaches get so busy marketing themselves.</div>
						<!-- Button Box -->
						<div class="slider-three_button-box text-center">
							<a class="btn-style-seven theme-btn" href="#">
								<div class="btn-wrap">
									<span class="text-one">get started</span>
									<span class="text-two">get started</span>
								</div>
							</a>
						</div>
					</div>
					
				</div>
			</div>
			
		</div>
	</div>
	<!-- End Main Slider Three -->
	
	<!-- Services Three -->
	<section class="services-three">
		<div class="auto-container">
			<div class="row clearfix">
				
				<!-- Services Block Five -->
				<div class="service-block_five col-lg-3 col-md-6 col-sm-12">
					<div class="service-block_five-inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="service-block_five-color-layer"></div>
					<div class="service-block_five_pattern" style="background-image:url(../images/background/pattern-38.png)"></div>
					<div class="service-block_five_icon"><img src="~/images/icons/service-18.png" alt="" /></div>
						<h5 class="service-block_five_heading"><a href="/Home/ServiceDetail">UI/UX and Web Devlopment</a></h5>
						<div class="service-block_five-text">Crafting seamless, user-centric digital experiences through design and development expertise.</div>
						<a href="/Home/ServiceDetail" class="theme-btn service-block_five-more">Read more</a>
					</div>
				</div>
				
				<!-- Services Block Five -->
				<div class="service-block_five col-lg-3 col-md-6 col-sm-12">
					<div class="service-block_five-inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="service-block_five-color-layer"></div>
					<div class="service-block_five_pattern" style="background-image:url(../images/background/pattern-38.png)"></div>
					<div class="service-block_five_icon"><img src="~/images/icons/service-19.png" alt="" /></div>
						<h5 class="service-block_five_heading"><a href="/Home/ServiceDetail">Business Process Outsourcing (BPO)</a></h5>
						<div class="service-block_five-text">
                            Outsourcing business processes to enhance efficiency, cost-effectiveness.</div>
						<a href="/Home/ServiceDetail" class="theme-btn service-block_five-more">Read more</a>
					</div>
				</div>
				
				<!-- Services Block Five -->
				<div class="service-block_five col-lg-3 col-md-6 col-sm-12">
					<div class="service-block_five-inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="service-block_five-color-layer"></div>
					<div class="service-block_five_pattern" style="background-image:url(../images/background/pattern-38.png)"></div>
					<div class="service-block_five_icon"><img src="~/images/icons/service-20.png" alt="" /></div>
						<h5 class="service-block_five_heading"><a href="/Home/ServiceDetail">Knowledge Process Outsourcing(KPO)</a></h5>
						<div class="service-block_five-text">Knowledge Process Outsourcing for specialized, high-value tasks.</div>
						<a href="/Home/ServiceDetail" class="theme-btn service-block_five-more">Read more</a>
					</div>
				</div>
				
				<!-- Services Block Five -->
				<div class="service-block_five col-lg-3 col-md-6 col-sm-12">
					<div class="service-block_five-inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="service-block_five-color-layer"></div>
					<div class="service-block_five_pattern" style="background-image:url(../images/background/pattern-38.png)"></div>
					<div class="service-block_five_icon"><img src="~/images/icons/service-21.png" alt="" /></div>
						<h5 class="service-block_five_heading"><a href="/Home/ServiceDetail">Technical Service Provider</a></h5>
						<div class="service-block_five-text">
                            Delivering comprehensive technical solutions, support, and expertise for business efficiency.</div>
						<a href="/Home/ServiceDetail" class="theme-btn service-block_five-more">Read more</a>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Company One -->
	
	<!-- Company Three -->
	<section class="company-three">
	<div class="company-three_icon-one" data-parallax='{"y" : -80}' style="background-image:url(../images/background/pattern-39.png)"></div>
	<div class="company-three_icon-two" data-parallax='{"y" : 80}' style="background-image:url(../images/background/pattern-40.png)"></div>
		<div class="auto-container">
			<div class="row clearfix">
				<!-- Image Column -->
				<div class="company-three_image-column col-lg-6 col-md-12 col-sm-12">
					<div class="company-three_image-inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="company-three_image">
						<img src="~/images/resource/company-1.png" alt="" />
						</div>
					</div>
				</div>
				<!-- Content Column -->
				<div class="company-three_content-column col-lg-6 col-md-12 col-sm-12">
					<div class="company-three_inner">
						<div class="company-three_title">We are <span>GFT</span> IT and Bpo,Kpo solutions agency!</div>
						<h2 class="company-three_heading">Choose <span>The Best</span> IT and Bpo,Kpo Service Company in the City.</h2>
						<div class="d-flex justify-content-between align-items-center flex-wrap">
							<div class="company-three_text">Want to join with our connection? <br> <a href="/Home/Contact">Contact us</a> for details talk.</div>
							<ul class="company-three_reviews d-flex align-items-center flex-wrap">
							<li><img src="~/images/resource/author-6.png" alt="" /></li>
							<li><img src="~/images/resource/author-7.png" alt="" /></li>
							<li><img src="~/images/resource/author-8.png" alt="" /></li>
								<li><a class="reviews" href="#">Reviews</a></li>
							</ul>
						</div>
						<!-- About One Detail -->
						<a class="about-three_play lightbox-video" href="https://www.youtube.com/watch?v=kxPCFljwJws">
							<span class="fa-solid fa-play fa-fw"><i class="ripple"></i></span>
							View How We work?
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Company Three -->
	
	<!-- CTA Two -->
	<section class="cta-two wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
		<div class="auto-container">
		<div class="cta-two_inner-container" style="background-image: url(../images/background/map.png)">
				<div class="d-flex justify-content-between align-items-center flex-wrap">
					<div class="cta-two_author">
					<span class="cta-two_author-image"><img src="~/images/gallery/footer-gallery-thumb-1.jpg" alt="" /></span>
						Yash Masih
						<i>Dicrector</i>
					</div>
					<div class="cta-two_title">Contact with us Any time!</div>
					<!-- Button Box -->
					<div class="cta-two_button-box">
					<a class="btn-style-seven theme-btn" href="/Home/Contact">
							<div class="btn-wrap">
								<span class="text-one">Contact us!</span>
								<span class="text-two">Contact us!</span>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End CTA Two -->
	
	<!-- Steps Two -->
<section class="steps-two" style="background-image:url(../images/background/6.jpg)">
	<div class="steps-two_pattern" data-parallax='{"y" : 60}' style="background-image:url(../images/icons/service-23.png)"></div>
	<div class="steps-two_pattern-two" data-parallax='{"y" : 60}' style="background-image:url(../images/icons/service-22.png)"></div>
	<div class="steps-two_pattern-three" style="background-image:url(../images/background/pattern-41.png)"></div>
		<div class="auto-container">
			<!-- Sec Title Three -->
			<div class="sec-title_three light centered">
				<div class="sec-title_three-title">Working Steps</div>
				<h2 class="sec-title_three-heading">Some <span>easy steps</span> to process!</h2>
			</div>
			<div class="inner-container">
				<div class="row clearfix">
				
					<!-- Step Block Two -->
					<div class="step-block_two col-lg-3 col-md-6 col-sm-12">
						<div class="step-block_two-inner">
							<div class="step-block_two-number"><span class="icon fa-solid fa-check-double fa-fw"></span>01</div>
							<h4 class="step-block_two-heading">Select Service</h4>
							<div class="step-two_block-text">Choose the services that align with your business needs and objectives.</div>
						</div>
					</div>
					
					<!-- Step Block Two -->
					<div class="step-block_two col-lg-3 col-md-6 col-sm-12">
						<div class="step-block_two-inner">
							<div class="step-block_two-number"><span class="icon fa-solid fa-pencil fa-fw"></span>02</div>
							<h4 class="step-block_two-heading">Send Message</h4>
							<div class="step-two_block-text">Connect instantly by sending a message to initiate a productive conversation.</div>
						</div>
					</div>
					
					<!-- Step Block Two -->
					<div class="step-block_two col-lg-3 col-md-6 col-sm-12">
						<div class="step-block_two-inner">
							<div class="step-block_two-number"><span class="icon fa-solid fa-cube fa-fw"></span>03</div>
							<h4 class="step-block_two-heading">Consult with us</h4>
							<div class="step-two_block-text">Schedule a consultation with our experts to discuss tailored solutions for your business.</div>
						</div>
					</div>
					
					<!-- Step Block Two -->
					<div class="step-block_two col-lg-3 col-md-6 col-sm-12">
						<div class="step-block_two-inner">
							<div class="step-block_two-number"><span class="icon fa-solid fa-link fa-fw"></span>04</div>
							<h4 class="step-block_two-heading">Get in touch!</h4>
							<div class="step-two_block-text">Reach out and get in touch to explore collaboration opportunities and solutions.</div>
						</div>
					</div>
				
				</div>
			</div>
		</div>
	</section>
	<!-- End Steps Two -->
	
	<!-- Services Four -->
	<section class="services-four">
		<div class="auto-container">
			<!-- Sec Title Three -->
			<div class="sec-title_three centered">
				<div class="sec-title_three-title">Our Feachered Services</div>
				<h2 class="sec-title_three-heading">We provide some <span>exclusive</span> <br> services for clients</h2>
			</div>
			<div class="inner-container">
				<div class="row clearfix">
					
					<!-- Service Block Six -->
					<div class="service-block_six col-lg-4 col-md-6 col-sm-12">
						<div class="service-block_six-inner">
							<div class="service-block_six-content">
								<span class="service-block_six-icon">
								<img src="~/images/icons/service-25.gif" alt="" />
								</span>
								<h4 class="service-block_six-heading"><a href="#">UI/UX Design</a></h4>
								<div class="service-block_six-text">Creating intuitive, visually appealing digital interfaces for optimal user experiences.               </div>
								<a class="service-block_six-more theme-btn" href="#">Discover more</a>
							</div>
						</div>
					</div>
					
					<!-- Service Block Six -->
					<div class="service-block_six col-lg-4 col-md-6 col-sm-12">
						<div class="service-block_six-inner">
							<div class="service-block_six-content">
								<span class="service-block_six-icon">
								<img src="~/images/icons/service-26.gif" alt="" />
								</span>
								<h4 class="service-block_six-heading"><a href="#">SEO & Marketing</a></h4>
								<div class="service-block_six-text">Boosting online visibility and engagement through strategic SEO and marketing.                                   .</div>
								<a class="service-block_six-more theme-btn" href="#">Discover more</a>
							</div>
						</div>
					</div>
					
					<!-- Service Block Six -->
					<div class="service-block_six col-lg-4 col-md-6 col-sm-12">
						<div class="service-block_six-inner">
							<div class="service-block_six-content">
								<span class="service-block_six-icon">
								<img src="~/images/icons/service-27.gif" alt="" />
								</span>
								<h4 class="service-block_six-heading"><a href="#">Bpo and Kpo</a></h4>
								<div class="service-block_six-text">
                                    BPO: Streamlining operations. KPO: Specialized knowledge tasks for efficiency.</div>
								<a class="service-block_six-more theme-btn" href="#">Discover more</a>
							</div>
						</div>
					</div>
					
					<!-- Service Block Six -->
					<div class="service-block_six col-lg-4 col-md-6 col-sm-12">
						<div class="service-block_six-inner">
							<div class="service-block_six-content">
								<span class="service-block_six-icon">
								<img src="~/images/icons/service-28.gif" alt="" />
								</span>
								<h4 class="service-block_six-heading"><a href="#">Web Development</a></h4>
								<div class="service-block_six-text">Crafting responsive, dynamic websites for seamless user experiences and functionality.</div>
								<a class="service-block_six-more theme-btn" href="#">Discover more</a>
							</div>
						</div>
					</div>
					
					<!-- Service Block Six -->
					<div class="service-block_six col-lg-4 col-md-6 col-sm-12">
						<div class="service-block_six-inner">
							<div class="service-block_six-content">
								<span class="service-block_six-icon">
								<img src="~/images/icons/service-29.gif" alt="" />
								</span>
								<h4 class="service-block_six-heading"><a href="#">Cloud Services</a></h4>
								<div class="service-block_six-text">
                                    Enabling scalable, secure, and efficient data storage and computing solutions.</div>
								<a class="service-block_six-more theme-btn" href="#">Discover more</a>
							</div>
						</div>
					</div>
					
					<!-- Service Block Six -->
					<div class="service-block_six col-lg-4 col-md-6 col-sm-12">
						<div class="service-block_six-inner">
							<div class="service-block_six-content">
								<span class="service-block_six-icon">
								<img src="~/images/icons/service-30.gif" alt="" />
								</span>
								<h4 class="service-block_six-heading"><a href="#">Hosting Services</a></h4>
								<div class="service-block_six-text">Reliable hosting solutions for seamless website performance and data accessibility.</div>
								<a class="service-block_six-more theme-btn" href="#">Discover more</a>
							</div>
						</div>
					</div>
					
				</div>
				
				<!-- Button Box -->
				<div class="services-four_button-box text-center">
					<a class="btn-style-seven theme-btn" href="#">
						<div class="btn-wrap">
							<span class="text-one">get started</span>
							<span class="text-two">get started</span>
						</div>
					</a>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Services Four -->
	
	<!-- Case Two -->
	<section class="case-two">
	<div class="case-two_pattern" data-parallax='{"y" : 60}' style="background-image:url(../images/icons/service-22.png)"></div>
	<div class="case-two_pattern-two" data-parallax='{"y" : 60}' style="background-image:url(../images/icons/service-23.png)"></div>
		<div class="auto-container">
			<!-- Sec Title Three -->
			<div class="sec-title_three light">
				<div class="sec-title_three-title">Case Studies</div>
				<h2 class="sec-title_three-heading">Some of our <span>works</span></h2>
			</div>
			<div class="inner-container">
				<div class="case-carousel-two owl-carousel owl-theme">
					
					<!-- Case Block Two -->
					<div class="case-block-two">
						<div class="case-block_two-inner">
							<div class="case-block_two-image">
							<img src="~/images/gallery/project-9.jpg" alt="" />
								<div class="case-block_two-content">
									<div class="case-block_two-title">Web Development</div>
									<h4 class="case-block_two-title"><a href="/Home/ProjectDetail">GFT Webdesign</a></h4>
								</div>
							</div>
						</div>
					</div>
					
					<!-- Case Block Two -->
					<div class="case-block-two">
						<div class="case-block_two-inner">
							<div class="case-block_two-image">
							<img src="~/images/gallery/project-10.jpg" alt="" />
								<div class="case-block_two-content">
									<div class="case-block_two-title">Web Development</div>
									<h4 class="case-block_two-title"><a href="/Home/ProjectDetail">GFT Webdesign</a></h4>
								</div>
							</div>
						</div>
					</div>
					
					<!-- Case Block Two -->
					<div class="case-block-two">
						<div class="case-block_two-inner">
							<div class="case-block_two-image">
							<img src="~/images/gallery/project-11.jpg" alt="" />
								<div class="case-block_two-content">
									<div class="case-block_two-title">Web Development</div>
									<h4 class="case-block_two-title"><a href="/Home/ProjectDetail">GFT Webdesign</a></h4>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</section>
	<!-- End Case Two -->
	
	<!-- Contact One -->
	<section class="contact-one">
	<div class="contact-one_pattern" data-parallax='{"y" : 60}' style="background-image:url(../images/background/pattern-42.png)"></div>
	<div class="contact-one_pattern-two" data-parallax='{"y" : -60}' style="background-image:url(../images/background/pattern-43.png)"></div>
		<div class="auto-container">
			<!-- Sec Title Three -->
			<div class="sec-title_three">
				<div class="sec-title_three-title">Contact Us</div>
				<h2 class="sec-title_three-heading">It’s very easy to <span>contact</span> us</h2>
			</div>
			<div class="row clearfix">
				<!-- Form Column -->
				<div class="contact-one_form-column col-lg-6 col-md-12 col-sm-12">
					<div class="contact-one_form-inner">
						
						<!-- Default Form -->
						<div class="default-form">
							<form method="post" asp-action="Index" asp-controller="Home">
								<div class="row clearfix">
									
									<div class="col-lg-6 col-md-6 col-sm-12 form-group">
									<input type="text" class="clearable-field" asp-for="Name" placeholder="Your Name" required>
									</div>
									
									<div class="col-lg-6 col-md-6 col-sm-12 form-group">
									<input type="text" class="clearable-field" oninput="validateNumericInput(this)" asp-for="Phone" placeholder="Mobile" required>
									</div>
									
									<div class="col-lg-12 col-md-12 col-sm-12 form-group">
										<input type="email" class="clearable-field" asp-for="Email" placeholder="Email Address" required>
									</div>
									
									<div class="col-lg-12 col-md-12 col-sm-12 form-group">
										<textarea class="" class="clearable-field" asp-for="Message" placeholder="Type Your Message"></textarea>
									</div>
									
									<div class="col-lg-12 col-md-12 col-sm-12 form-group">
										<!-- Button Box -->
										<div class="button-box">
											<button class="theme-btn btn-style-seven">
												<span class="btn-wrap">
													<span class="text-one">Send Message Now</span>
													<span class="text-two">Send Message Now</span>
												</span>
											</button>
										</div>
									</div>
									
								</div>
							</form>
						</div>
						<!-- End Default Form -->
						
					</div>
				</div>
				<!-- Form Column -->
				<div class="contact-one_info-column col-lg-6 col-md-12 col-sm-12">
					<div class="contact-one_info-inner">
						<div class="row clearfix">
							
							<!-- Contact One Info -->
							<div class="contact-one_info col-lg-6 col-md-6 col-sm-6">
								<div class="contact-one_info-outer">
									<span class="contact-one_info-icon fa-solid fa-phone fa-fw"></span>
									Call Us for help!
									<strong>+91 8287270147</strong>
								</div>
							</div>
							
							<!-- Contact One Info -->
							<div class="contact-one_info col-lg-6 col-md-6 col-sm-6">
								<div class="contact-one_info-outer">
									<span class="contact-one_info-icon fa-solid fa-map fa-fw"></span>
									Our Locations
									<strong>KHERA CHAUGPUR,I.A. Surajpur,Bishrakh,Gautam Buddha Nagar-201306,Uttar Pradesh</strong>
								</div>
							</div>
							
							<!-- Contact One Info -->
							<div class="contact-one_info col-lg-6 col-md-6 col-sm-6">
								<div class="contact-one_info-outer">
									<span class="contact-one_info-icon fa-solid fa-envelope fa-fw"></span>
									Our Mail Address
									<strong>Contact@geneisisflare.com</strong>
								</div>
							</div>
							
							<!-- Contact One Info -->
							<div class="contact-one_info col-lg-6 col-md-6 col-sm-6">
								<div class="contact-one_info-outer">
									<span class="contact-one_info-icon fa-solid fa-clock fa-fw"></span>
									Official Timing:
									<strong>Mon-Sat 9:00 - 6:30</strong>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Contact One -->
	
	<!-- Testimonial Two -->
	<section class="testimonial-two">
	<div class="testimonial-two_pattern" data-parallax='{"y" : 60}' style="background-image:url(../images/background/pattern-44.png)"></div>
		<div class="auto-container">
			<div class="row clearfix">
				
				<!-- Image Column -->
				<div class="testimonial-two_image-column col-lg-6 col-md-12 col-sm-12">
					<div class="testimonial-two_image-inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="testimonial-two_image">
						<img src="~/images/resource/testimonial-1.png" alt="" />
						</div>
					</div>
				</div>
				
				<!-- Carousel Column -->
				<div class="testimonial-two_carousel-column col-lg-6 col-md-12 col-sm-12">
					<div class="testimonial-two_carousel-inner">
						<!-- Sec Title Three -->
						<div class="sec-title_three">
							<div class="sec-title_three-title">Testimonials</div>
							<h2 class="sec-title_three-heading">We have many good <br> <span>client’s</span> review</h2>
						</div>
						<div class="single-item-carousel owl-carousel owl-theme">
						
							<!-- Testimonial Block Two -->
							<div class="testimonial-block_two">
								<div class="testimonial-block_two-inner">
								<span class="testimonial-block_two-quote"><img src="~/images/icons/quote.png" alt="" /></span>
									<div class="testimonial-block_two-author">
									<img src="~/images/resource/author-10.jpg" alt="" />
									</div>
									<div class="testimonial-block_two-text">"Outstanding web development services, exceeded expectations with innovative design, functionality, and timely project delivery. Highly recommend!"</div>
									<div class="testimonial-block_two-author-name">Yash Masih</div>
									<div class="testimonial-block_two-designation">Senior Developer</div>
								</div>
							</div>
							
							<!-- Testimonial Block Two -->
							<div class="testimonial-block_two">
								<div class="testimonial-block_two-inner">
								<span class="testimonial-block_two-quote"><img src="~/images/icons/quote.png" alt="" /></span>
									<div class="testimonial-block_two-author">
									<img src="~/images/resource/author-10.jpg" alt="" />
									</div>
									<div class="testimonial-block_two-text">"Efficient BPO services streamlined our processes, providing cost-effective solutions, exceptional quality, and excellent client support. Impressive performance!"</div>
									<div class="testimonial-block_two-author-name">Yash Masih</div>
									<div class="testimonial-block_two-designation">Senior Developer</div>
								</div>
							</div>
							
							<!-- Testimonial Block Two -->
							<div class="testimonial-block_two">
								<div class="testimonial-block_two-inner">
								<span class="testimonial-block_two-quote"><img src="~/images/icons/quote.png" alt="" /></span>
									<div class="testimonial-block_two-author">
									<img src="~/images/resource/author-10.jpg" alt="" />
									</div>
									<div class="testimonial-block_two-text">
"KPO services exceeded expectations with specialized insights, contributing to strategic decision-making and elevating overall efficiency remarkably."</div>
									<div class="testimonial-block_two-author-name">Yash Masih</div>
									<div class="testimonial-block_two-designation">Senior Developer</div>
								</div>
							</div>
							
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Testimonial Two -->
	
	<!-- Clients Three -->
	<section class="clients-three">
		<div class="auto-container">
			<div class="clients-three_inner-container">
				<!-- Sponsors Carousel -->
				<ul class="sponsors-carousel-two owl-carousel owl-theme">
				<li class="slide-item"><figure class="client-one_image-box-two"><a href="#"><img src="~/images/clients/15.png" alt=""></a></figure></li>
				<li class="slide-item"><figure class="client-one_image-box-two"><a href="#"><img src="~/images/clients/16.png" alt=""></a></figure></li>
				<li class="slide-item"><figure class="client-one_image-box-two"><a href="#"><img src="~/images/clients/17.png" alt=""></a></figure></li>
				<li class="slide-item"><figure class="client-one_image-box-two"><a href="#"><img src="~/images/clients/18.png" alt=""></a></figure></li>
				<li class="slide-item"><figure class="client-one_image-box-two"><a href="#"><img src="~/images/clients/15.png" alt=""></a></figure></li>
				<li class="slide-item"><figure class="client-one_image-box-two"><a href="#"><img src="~/images/clients/16.png" alt=""></a></figure></li>
				<li class="slide-item"><figure class="client-one_image-box-two"><a href="#"><img src="~/images/clients/17.png" alt=""></a></figure></li>
				<li class="slide-item"><figure class="client-one_image-box-two"><a href="#"><img src="~/images/clients/18.png" alt=""></a></figure></li>
				</ul>
			</div>
		</div>
	</section>
	<!-- End Clients Three -->
	
	<!-- CTA One -->
	<section class="cta-one">
		<div class="auto-container">
			<div class="d-flex justify-content-between align-items-center flex-wrap">
				<div class="left-box">
					<h3 class="cta-one_heading">Looking for the Best IT Business Solutions?</h3>
				</div>
				<div class="right-box">
				<a class="btn-style-seven theme-btn" href="/Home/Contact">
						<div class="btn-wrap">
							<span class="text-one">get a quote</span>
							<span class="text-two">get a quote</span>
						</div>
					</a>
				</div>
			</div>
		</div>
	</section>
	<!-- End CTA One -->

<script>

	function validateNumericInput(inputField) {
		// Remove non-numeric characters
		inputField.value = inputField.value.replace(/\D/g, '');

		// Limit to a maximum of 10 digits
		if (inputField.value.length > 10) {
			inputField.value = inputField.value.slice(0, 10);
		}
	}

	document.addEventListener("DOMContentLoaded", function () {
		// Clear form fields by class
		var formFields = document.getElementsByClassName("clearable-field");

		for (var i = 0; i < formFields.length; i++) {
			formFields[i].value = '';
		}
	});


</script>
	
