@{
	ViewData["Title"] = "Error";
}

		<!-- Page Title -->
		<section class="page-title" style="background-image:url(../images/background/7.jpg)">
			<div class="auto-container">
				<h2>Not Found</h2>
				<ul class="bread-crumb clearfix">
					<li><a href="/Home/Index">Home</a></li>
					<li>Not Found</li>
				</ul>
			</div>
		</section>
		<!-- End Page Title -->
		<!-- Error One -->
		<section class="error-one">
			<div class="pattern-one" style="background-image:url(../images/background/pattern-46.png)"></div>
			<div class="pattern-two" style="background-image:url(../images/background/pattern-47.png)"></div>
			<div class="auto-container">
				<div class="image">
					<img src="~/images/resource/error.jpg" alt="" />
				</div>
				<!-- Button Box -->
				<div class="button-box text-center">
					<a class="btn-style-one theme-btn btn-item" href="/Home/Index">
						<div class="btn-wrap">
							<span class="text-one">Go back home!</span>
							<span class="text-two">Go back home!</span>
						</div>
					</a>
				</div>
			</div>
		</section>
		<!-- End Error One -->
		<!-- CTA One -->
		<section class="cta-one">
			<div class="auto-container">
				<div class="d-flex justify-content-between align-items-center flex-wrap">
					<div class="left-box">
						<h3 class="cta-one_heading">Looking for the Best IT Business Solutions?</h3>
						<div class="cta-one_text">As a app web crawler expert, We will help to organize.</div>
					</div>
					<div class="right-box">
						<a class="cta-one_btn theme-btn" href="/Home/Contact">get a quote</a>
					</div>
				</div>
			</div>
		</section>
		<!-- End CTA One -->
	