@{
	ViewData["Title"] = "Services";
}

		<!-- Page Title -->
		<section class="page-title" style="background-image:url(../images/background/7.jpg)">
			<div class="auto-container">
				<h2>Service's</h2>
				<ul class="bread-crumb clearfix">
					<li><a href="/Home/Index">Home</a></li>
					<li>Service's</li>
				</ul>
			</div>
		</section>
		<!-- End Page Title -->
		<!-- Service Two -->
		<section class="service-two">
			<div class="auto-container">
				<!-- Sec Title -->
				<div class="sec-title centered">
					<div class="sec-title_title">Our Services</div>
					<h2 class="sec-title_heading">We provide the necessary <br> services to you</h2>
				</div>
				<div class="row clearfix">

					<!-- Service Block Two -->
					<div class="service-block_two col-lg-3 col-md-6 col-sm-12">
						<div class="service-block_two-inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
							<div class="service-block_two-image">
								<img src="~/images/resource/service-2.jpg" alt="" />
								<div class="service-block_two-overlay">
									<div class="service-block_two-icon"><img src="~/images/icons/service-4.png" alt="" /></div>
									<h5 class="service-block_two-title">Data Backup and Recovery</h5>
								</div>
								<div class="service-block_two-overlay-two">
									<div class="service-two_overlay-content">
										<h5 class="service-block_two-title"><a href="#">Managed IT Services</a></h5>
										<div class="service-block_two-text">Our goal is to propel your to business forward u world-class IT cybersecurity and technology We provide the expert solutions.</div>
										<a class="service-block_two-more" href="/Home/ServiceDetail">Read more</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- Service Block Two -->
					<div class="service-block_two col-lg-3 col-md-6 col-sm-12">
						<div class="service-block_two-inner wow fadeInLeft" data-wow-delay="150ms" data-wow-duration="1500ms">
							<div class="service-block_two-image">
								<img src="~/images/resource/service-3.jpg" alt="" />
								<div class="service-block_two-overlay">
									<div class="service-block_two-icon"><img src="~/images/icons/service-5.png" alt="" /></div>
									<h5 class="service-block_two-title">VIP Solutions</h5>
								</div>
								<div class="service-block_two-overlay-two">
									<div class="service-two_overlay-content">
										<h5 class="service-block_two-title"><a href="#">VIP Solutions</a></h5>
										<div class="service-block_two-text">Our goal is to propel your to business forward u world-class IT cybersecurity and technology We provide the expert solutions.</div>
								<a class="service-block_two-more" href="/Home/ServiceDetail">Read more</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- Service Block Two -->
					<div class="service-block_two col-lg-3 col-md-6 col-sm-12">
						<div class="service-block_two-inner wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
							<div class="service-block_two-image">
								<img src="~/images/resource/service-4.jpg" alt="" />
								<div class="service-block_two-overlay">
									<div class="service-block_two-icon"><img src="~/images/icons/service-6.png" alt="" /></div>
									<h5 class="service-block_two-title">IT Consulting Planning</h5>
								</div>
								<div class="service-block_two-overlay-two">
									<div class="service-two_overlay-content">
										<h5 class="service-block_two-title"><a href="#">IT Consulting Planning</a></h5>
										<div class="service-block_two-text">Our goal is to propel your to business forward u world-class IT cybersecurity and technology We provide the expert solutions.</div>
								<a class="service-block_two-more" href="/Home/ServiceDetail">Read more</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- Service Block Two -->
					<div class="service-block_two col-lg-3 col-md-6 col-sm-12">
						<div class="service-block_two-inner wow fadeInLeft" data-wow-delay="450ms" data-wow-duration="1500ms">
							<div class="service-block_two-image">
								<img src="~/images/resource/service-5.jpg" alt="" />
								<div class="service-block_two-overlay">
									<div class="service-block_two-icon"><img src="~/images/icons/service-7.png" alt="" /></div>
									<h5 class="service-block_two-title">Managed IT Services</h5>
								</div>
								<div class="service-block_two-overlay-two">
									<div class="service-two_overlay-content">
										<h5 class="service-block_two-title"><a href="#">Managed IT Services</a></h5>
										<div class="service-block_two-text">Our goal is to propel your to business forward u world-class IT cybersecurity and technology We provide the expert solutions.</div>
								<a class="service-block_two-more" href="/Home/ServiceDetail">Read more</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- Service Block Two -->
					<div class="service-block_two col-lg-3 col-md-6 col-sm-12">
						<div class="service-block_two-inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
							<div class="service-block_two-image">
								<img src="~/images/resource/service-6.jpg" alt="" />
								<div class="service-block_two-overlay">
									<div class="service-block_two-icon"><img src="~/images/icons/service-31.png" alt="" /></div>
									<h5 class="service-block_two-title">Internet Thinking</h5>
								</div>
								<div class="service-block_two-overlay-two">
									<div class="service-two_overlay-content">
										<h5 class="service-block_two-title"><a href="#">Internet Thinking</a></h5>
										<div class="service-block_two-text">Our goal is to propel your to business forward u world-class IT cybersecurity and technology We provide the expert solutions.</div>
								<a class="service-block_two-more" href="/Home/ServiceDetail">Read more</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- Service Block Two -->
					<div class="service-block_two col-lg-3 col-md-6 col-sm-12">
						<div class="service-block_two-inner wow fadeInLeft" data-wow-delay="150ms" data-wow-duration="1500ms">
							<div class="service-block_two-image">
								<img src="~/images/resource/service-7.jpg" alt="" />
								<div class="service-block_two-overlay">
									<div class="service-block_two-icon"><img src="~/images/icons/service-32.png" alt="" /></div>
									<h5 class="service-block_two-title">Security And Compliance</h5>
								</div>
								<div class="service-block_two-overlay-two">
									<div class="service-two_overlay-content">
										<h5 class="service-block_two-title"><a href="#">Security And Compliance</a></h5>
										<div class="service-block_two-text">Our goal is to propel your to business forward u world-class IT cybersecurity and technology We provide the expert solutions.</div>
								<a class="service-block_two-more" href="/Home/ServiceDetail">Read more</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- Service Block Two -->
					<div class="service-block_two col-lg-3 col-md-6 col-sm-12">
						<div class="service-block_two-inner wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
							<div class="service-block_two-image">
								<img src="~/images/resource/service-8.jpg" alt="" />
								<div class="service-block_two-overlay">
									<div class="service-block_two-icon"><img src="~/images/icons/service-33.png" alt="" /></div>
									<h5 class="service-block_two-title">Web Development</h5>
								</div>
								<div class="service-block_two-overlay-two">
									<div class="service-two_overlay-content">
										<h5 class="service-block_two-title"><a href="#">Web Development</a></h5>
										<div class="service-block_two-text">Our goal is to propel your to business forward u world-class IT cybersecurity and technology We provide the expert solutions.</div>
								<a class="service-block_two-more" href="/Home/ServiceDetail">Read more</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- Service Block Two -->
					<div class="service-block_two col-lg-3 col-md-6 col-sm-12">
						<div class="service-block_two-inner wow fadeInLeft" data-wow-delay="450ms" data-wow-duration="1500ms">
							<div class="service-block_two-image">
								<img src="~/images/resource/service-9.jpg" alt="" />
								<div class="service-block_two-overlay">
									<div class="service-block_two-icon"><img src="~/images/icons/service-34.png" alt="" /></div>
									<h5 class="service-block_two-title">Digital Marketing</h5>
								</div>
								<div class="service-block_two-overlay-two">
									<div class="service-two_overlay-content">
										<h5 class="service-block_two-title"><a href="#">Digital Marketing</a></h5>
										<div class="service-block_two-text">Our goal is to propel your to business forward u world-class IT cybersecurity and technology We provide the expert solutions.</div>
								<a class="service-block_two-more" href="/Home/ServiceDetail">Read more</a>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>

			</div>
		</section>
		<!-- End Service Two -->
		<!-- Fluid Section One -->
		<section class="fluid-one">
			<div class="outer-container d-flex">

				<!-- Carousel Column -->
				<div class="fluid-one_carousel-column">
					<div class="fluid-one_carousel-inner">
						<div class="single-item-carousel owl-carousel owl-theme">
							<!-- Slide -->
							<div class="slide">
								<figure class="fluid-one_image"><img src="~/images/resource/fluid-1.jpg" alt=""></figure>
								<div class="fluid-one_content">
									<!-- Sec Title -->
									<div class="sec-title light">
										<div class="sec-title_title">Case Studies</div>
										<h2 class="sec-title_heading">Web And Mobile App Development </h2>
										<div class="sec-title_text">We deliver best-in-class web and mobile solutions that will retain the attention of the target audience.</div>
									</div>
									<a class="fluid-one_arrow fa-solid fa-arrow-right fa-fw theme-btn" href="#"></a>
								</div>
							</div>
							<!-- Slide -->
							<div class="slide">
								<figure class="fluid-one_image"><img src="~/images/resource/fluid-2.jpg" alt=""></figure>
								<div class="fluid-one_content">
									<!-- Sec Title -->
									<div class="sec-title light">
										<div class="sec-title_title">Case Studies</div>
										<h2 class="sec-title_heading"> Information Technology</h2>
										<div class="sec-title_text">We deliver best-in-class web and mobile solutions that will retain the attention of the target audience.</div>
									</div>
									<a class="fluid-one_arrow fa-solid fa-arrow-right fa-fw theme-btn" href="#"></a>
								</div>
							</div>
							<!-- Slide -->
							<div class="slide">
								<figure class="fluid-one_image"><img src="~/images/resource/fluid-3.jpg" alt=""></figure>
								<div class="fluid-one_content">
									<!-- Sec Title -->
									<div class="sec-title light">
										<div class="sec-title_title">Case Studies</div>
										<h2 class="sec-title_heading"> BPO and Kpo</h2>
										<div class="sec-title_text">We deliver best-in-class web and mobile solutions that will retain the attention of the target audience.</div>
									</div>
									<a class="fluid-one_arrow fa-solid fa-arrow-right fa-fw theme-btn" href="#"></a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Content Column -->
				<div class="fluid-one_content-column">
					<div class="fluid-one_column-inner">
						<!-- Sec Title -->
						<div class="sec-title">
							<div class="sec-title_title">Who We Are?</div>
							<h2 class="sec-title_heading">Our <span class="theme_color">penetration</span> testing <br> team uses an industry</h2>
							<div class="sec-title_text">We provide the full spectrum of IT and Bpo services and consulting for various industries.</div>
						</div>
						<div class="row clearfix">

							<!-- Fluid Block One -->
							<div class="fluid-block_one col-lg-6 col-md-6 col-sm-12">
								<div class="fluid-block_icon">
									<img src="~/images/icons/fluid-1.png" alt="" />
								</div>
								<h5 class="fluid-block_title">Digital Marketer</h5>
								<div class="fluid-block_text">Our customers get solutions and business opportunities instead of just projects. Our mission is to accelerate.</div>
							</div>

							<!-- Fluid Block One -->
							<div class="fluid-block_one col-lg-6 col-md-6 col-sm-12">
								<div class="fluid-block_icon">
									<img src="~/images/icons/fluid-2.png" alt="" />
								</div>
								<h5 class="fluid-block_title">Global Entrepreneur</h5>
								<div class="fluid-block_text">Our customers get solutions and business opportunities instead of just projects. Our mission is to accelerate.</div>
							</div>

						</div>
					</div>
				</div>

			</div>
		</section>
		<!-- End Fluid Section One -->
		<!-- CTA One -->
		<section class="cta-one">
			<div class="auto-container">
				<div class="d-flex justify-content-between align-items-center flex-wrap">
					<div class="left-box">
						<h3 class="cta-one_heading">Looking for the Best IT Business Solutions?</h3>
						<div class="cta-one_text">As a app web crawler expert, We will help to organize.</div>
					</div>
					<div class="right-box">
						<a class="cta-one_btn theme-btn" href="/Home/Contact">get a quote</a>
					</div>
				</div>
			</div>
		</section>
		<!-- End CTA One -->
	